body {
  background-color: #1a1a1a;
  color: #ffffffde;
  font-size: 1.125rem;
  padding: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #42b883;
}

h5 {
  text-align: center;
  font-size: 1.5625rem;
  padding: 20px 0;
}

h4 {
  text-align: center;
  padding: 5px 0;
  font-size: 20px;
  color: #ebebeb99;
}

ul {
  padding-left: 40px;
  list-style: none;
  color: inherit;
}
